
/* Tablet sizing */

  @media (min-width: 768px) and (max-width: 1024px)  {
  
    .wrapper {
        width: 100%;
     }
    
  }

  @media (min-width: 420px) and (max-width: 768px) {

    .wrapper {
        width: 100%;
     }
  
      aside, main {
         display: block;
         width: 100%;
     }

     .profile__photo, .contact__info, .languages__info {
            display: inline-block;
            width: calc(100% / 3);
     }

     .profile__photo>img {
         width: 90%;
     }

    
    
  }